[Desktop Entry]
Type=Application
Name=Better Rack
Comment=Local comic book library reader
Exec=better-rack-rus
Icon=betterrack
Categories=Graphics;Viewer;
Terminal=false
StartupWMClass=betterrack
